@font-face {
    font-family: "YS Display";
    src: url('fonts/YandexSansDisplay-Regular.eot') format('eot'),

        url('fonts/YandexSansDisplay-Regular.woff') format('woff'),

        url('fonts/YandexSansDisplay-Regular.ttf') format('truetype'),

        url('fonts/YandexSansDisplay-Regular.woff2') format('woff2');

    font-weight: normal;

    font-style: normal;
}
@font-face {
    font-family: "YS Text";
    src: url('fonts/YandexSansText-Regular.ttf') format('truetype');

    font-weight: normal;

    font-style: normal;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: "YS Display", Arial, sans-serif;
    background-color: #E6EDF8;
}

.desktop {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: none;
    justify-content: center;
    align-items: center;

}

.desktop::before {
    content: "";
    background: url("img/desktop_bg.png"), lightgray -204.939px -19.735px / 170.729% 105.2% no-repeat;
    filter: blur(60px);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.desktop h1 {
    max-width: 760px;
    font-size: 68px;
    font-style: normal;
    font-weight: 400;
    line-height: 74px;
}

.desktop p {
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 30px;
}

.landscape {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: #E6EDF8;
    z-index: 3;
    overflow: hidden;
}

.landscape p {
    position: relative;
    width: 290px;
    z-index: 3;
}

.landscape::after {
    position: absolute;
    content: '';
    background: url('img/Union.svg') no-repeat;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: -5%;
}

.landscape::before {
    position: absolute;
    content: '';
    background: url('img/Union.svg') no-repeat;
    width: 100%;
    height: 90%;
    z-index: 1;
    right: -5%;
    transform: rotate(180deg);
}

.portrait {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: none;
    justify-content: center;
    align-items: center;
    background: #E6EDF8;
    z-index: 1;
}

.portrait::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('img/arrow_2.svg') right -57% bottom 0/ 278px 193px no-repeat,
        url('img/Union (2).svg') bottom 0 left -30% / 278px 193px no-repeat,
        url('img/Union (3).svg') top -10% left 0 / 250px 250px no-repeat;
    z-index: -1;

}

.swiper_container {
    height: 82%;
    width: 100%;
    overflow: hidden;
}
#skip {
position: fixed;
top: 15px;
right: 30px;


color: #164C93;

text-align: right;
font-family: "YS Display";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 19.2px */
letter-spacing: 1.6px;
text-transform: uppercase;
}

.card {
    position: absolute;
    transform: scale(90%, 90%);
    left: calc(50% - (38.8vh / 2));
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0.08) 100%), url(img/desktop_bg.png), lightgray -43.858px -13.354px / 170.729% 105.2% no-repeat;
    background-size: 159%;
    background-position: -35px -7px;
    width: 38.8vh;
    height: 66.7vh;
    margin: 10% auto 0;
    padding: 2.2vh 1.9vh;
    border-radius: 40px;
}

.card {
    transition: transform 0.5s ease;
    border: 2px solid #000;
}




.swipper .card.active.animate-out-left {
    transform: translateX(-120%) rotate(-35deg);
}




.card.active {
    

    transform: scale(100%, 100%);
    transition: 0.54s;
    visibility: visible;
    


}

.card.active.left {
    animation: fadeInActiveLeft 0.5s ;
    visibility: visible;
    transition: 0.3s;
    


}

@keyframes fadeInActiveLeft {
    from {
        
        transform: scale(50%, 50%) rotate(35deg);
    }
    30% {
        transform: translateX(120%) rotate(25deg);
    }
    
   
}


.display {
    width: 100%;
    background: #ffffff;
    height: 100%;
    border-radius: 28px;
    position: relative;
}

.display p {
    width: 90%;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    position: relative;
    left: calc(50% - (90% / 2));
    top: 10%;


}
.img_card {
    width: 100%;
    position: absolute;
    bottom: 10%;
}

.ellipses {
    display: flex;
    width: 50%;
    justify-content: space-between;
    position: absolute;
    left: calc(50% - (50% / 2));
    bottom: 5%;
}


button {
    z-index: 1;
    margin: 0 auto;
    display: block;
    padding: 20px 100px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 28px;
    background: rgba(22, 76, 147, 0.15);
    border: 0;
    backdrop-filter: blur(6px);

    color: #000;

font-family: "YS Text";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 21.6px */
letter-spacing: -0.18px;
transition: 0.2s;
}

button:active {
    transition: 0.2s;
    background: rgba(22, 76, 147, 0.25);
}

.hidden {
    display: none;
}

.card.active:nth-child(odd) {

    transform: rotate(-1deg);

}

.card.active:nth-child(even) {
    transform: rotate(1deg);
}


@media (min-device-width: 933px) {
    .desktop {
        display: flex;
    }

    .landscape {
        display: none;
    }

    .portrait {
        display: none;
    }
}

@media only screen and (orientation: landscape) and (max-device-width: 932px) {
    .desktop {
        display: none;
    }

    .landscape {
        display: flex;
    }

    .portrait {
        display: none;
    }
}

@media only screen and (orientation: portrait) and (max-device-width: 932px) {
    .desktop {
        display: none;
    }

    .landscape {
        display: none;
    }

    .portrait {
        display: block;
    }
}