@font-face {
    font-family: "YS Display";
    src: url('fonts/YandexSansDisplay-Regular.eot') format('eot'),

        url('fonts/YandexSansDisplay-Regular.woff') format('woff'),

        url('fonts/YandexSansDisplay-Regular.ttf') format('truetype'),

        url('fonts/YandexSansDisplay-Regular.woff2') format('woff2');

    font-weight: normal;

    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: "YS Display", Arial, sans-serif;
    background-color: #E6EDF8;
}

.desktop {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: none;
    justify-content: center;
    align-items: center;

}

.desktop::before {
    content: "";
    background: url("img/desktop_bg.png"), lightgray -204.939px -19.735px / 170.729% 105.2% no-repeat;
    filter: blur(60px);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.desktop h1 {
    max-width: 760px;
    font-size: 68px;
    font-style: normal;
    font-weight: 400;
    line-height: 74px;
}

.desktop p {
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 30px;
}

.landscape {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: #E6EDF8;
    z-index: 3;
    overflow: hidden;
}

.landscape p {
    position: relative;
    width: 290px;
    z-index: 3;
}

.landscape::after {
    position: absolute;
    content: '';
    background: url('img/Union.svg') no-repeat;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: -5%;
}

.landscape::before {
    position: absolute;
    content: '';
    background: url('img/Union.svg') no-repeat;
    width: 100%;
    height: 90%;
    z-index: 1;
    right: -5%;
    transform: rotate(180deg);
}

.portrait {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: none;
    justify-content: center;
    align-items: center;
    background: #E6EDF8;
    z-index: 1;
}

.portrait::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('img/arrow_2.svg') right -57% bottom 0/ 278px 193px no-repeat,
        url('img/Union (2).svg') bottom 0 left -30% / 278px 193px no-repeat,
        url('img/Union (3).svg') top -10% left 0 / 250px 250px no-repeat;
    z-index: -1;

}

.swiper_container {
    height: 82%;
    width: 100%;
    overflow: hidden;
}

.card {
    position: absolute;
    transform: scale(90%, 90%);
    left: calc(50% - (38.8vh / 2));
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0.08) 100%), url(img/desktop_bg.png), lightgray -43.858px -13.354px / 170.729% 105.2% no-repeat;
    background-size: 159%;
    background-position: -35px -7px;
    width: 38.8vh;
    height: 66.7vh;
    margin: 10% auto 0;
    padding: 2.2vh 1.9vh;
    border-radius: 40px;
}

.card {
    transition: transform 0.5s ease;
}




.swipper .card.active.animate-out-left {
    transform: translateX(-120%) rotate(-35deg);
}



.card.out {
    visibility: hidden;
    transition: 0.1s;
    /* left: -100%; */

}


.card.active {
    /* animation: fadeInActive 0.5s; */

    transform: scale(100%, 100%);
    transition: 0.54s;
    visibility: visible;
    box-shadow: 0px 0px 16px 0px rgba(17, 67, 132, 0.60);


}

.card.active.left {
    animation: fadeInActiveLeft 1s ;
    visibility: visible;
    


}

@keyframes fadeInActive {
    from {
        left: 200%;
    }
}

@keyframes fadeInActiveLeft {
    from {
        
        transform: scale(50%, 50%) rotate(35deg);
    }
    40% {
        transform: translateX(100%) rotate(25deg);
    }
   
}


.display {
    width: 100%;
    background: #ffffff;
    height: 100%;
    border-radius: 28px;
    position: relative;
}

.display p {
    width: 80%;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    position: absolute;
    left: calc(50% - (75% / 2));
    top: 23%;


}

.ellipses {
    display: flex;
    width: 50%;
    justify-content: space-between;
    position: absolute;
    left: calc(50% - (50% / 2));
    bottom: 5%;
}


button {
    z-index: 1;
    width: 85%;
    margin: 0 auto;
    display: block;
    border-radius: 20px;
    background: #164C93;
    height: 62px;
    padding: 20px 100px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.35);
    border: none;
    color: #FFF;
    position: relative;

    background-image: url("img/Union (4).svg");
    background-size: cover;
    background-repeat: no-repeat;

    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 1.6px;
    text-transform: uppercase;

}

button:active {
    background: #256ece;
    transition: 0.2s;
    background-image: url("img/Union (4).svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.hidden {
    display: none;
}

.card.active:nth-child(odd) {

    transform: rotate(-1deg);

}

.card.active:nth-child(even) {
    transform: rotate(1deg);
}


@media (min-device-width: 933px) {
    .desktop {
        display: flex;
    }

    .landscape {
        display: none;
    }

    .portrait {
        display: none;
    }
}

@media only screen and (orientation: landscape) and (max-device-width: 932px) {
    .desktop {
        display: none;
    }

    .landscape {
        display: flex;
    }

    .portrait {
        display: none;
    }
}

@media only screen and (orientation: portrait) and (max-device-width: 932px) {
    .desktop {
        display: none;
    }

    .landscape {
        display: none;
    }

    .portrait {
        display: block;
    }
}